version: '3.8'

services:
  chall:
    build: ./chall
    container_name: hcaptcha-chall
    ports:
      - "4071:4071"
    depends_on:
      - verifier
    # cap_add:
      # - NET_ADMIN
      # privileged: true
    privileged: true
    environment:
      - PORT=4071
      - FLAG=amateursCTF{W_C4PTCH4_B3h4v13r}
      - VERIFIER_HOST=verifier
      - VERIFIER_PORT=5000
      # restrict the memory to 1GB and cpu to 0.1 core
    # deploy:
    #   resources:
    #     limits:
    #       memory: "1073741824"
    #       cpus: '1'

  verifier:
    build: ./verifier
    container_name: hcaptcha-verifier
    environment:
      - HCAPTCHA_SECRET=ES_3fd71b28c74f4e6fba1a84784d0cb86b
    expose:
      - "5000"

networks:
  default:
    name: hcaptcha-net
