services:
  web:
    build: ./web
    ports: 
      - "4000:4000"
    restart: unless-stopped
  bot:
    build: ./bot
    restart: unless-stopped
    depends_on:
      - web
    ports:
      - "5000:5000"
    environment:
      - FLAG=amateursCTF{P3r_4sp3r4_4d_4str4_111}